@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{color: #fff;background-color: #1E1E1E;  font-family: "lato", sans-serif;
}
/* header */
.menu{ font-size: 22px;font-weight: 500;}
.logo h4{   background: -webkit-linear-gradient(rgb(250, 110, 0), rgb(230, 0, 38));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
  ul li {color: #707070;}
  ul li:hover{color: #FD6F00;}
  .hire{border: 1px solid #FD6F00;border-radius: 10px;font-size: 20px; height: 50px; min-width: 200px; background-color: #FD6F00;}
  .cv{border: 2px solid #707070;border-radius: 10px;font-size: 20px; color: #707070; height: 50px; min-width: 200px; background-color: #1E1E1E;}

  /* about */
  /* .container1{display:-webkit-inline-box !important;
} */
  h2{color: #707070;}
  .developer{background: -webkit-linear-gradient(rgb(252, 67, 0), rgb(239, 87, 27), rgb(228, 100, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
  .fa-github, .fa-linkedin, .fa-whatsapp{color: #707070;}
  .fa-linkedin:hover{color: #0077B5;}
  .fa-whatsapp:hover{color:#25D366}
  .fa-github:hover{color: #363636;}

  /* skills */
  .heading p{color: #707070;}
  .skills-content div i{
    border: 4px solid #FD6F00;
  }
  .skills-content div h3{color: #707070;}
  .fa-html5{color: #912204;}
  .fa-css3{color: #1572B6;}
  .fa-js{color: #F7DF1E;}
  .fa-react{color: #61DAFB;}
  .fa-bootstrap{color: #6942a3;}
  .fa-vuejs {color:#42B883}
  .fa-node-js{color: #339933;}
  .fa-envira{color: #47A248;}

  /* education */
  .higher-secondary, .ug{border: 1px solid #FD6F00;}
  .higher-secondary h1, .ug h1{color: #e9a528;}

  /* contact */
  form input, textarea{background-color: #2e2e2e; outline:none;}
  .send{border: 1px solid #fff;}

  /* footer */
  .mail{border-bottom: 1px solid #707070; }
  .mail i, .mail span, .copy{color: #adabab;}

 
  /* skills */

  .skills-container {
  background: #0f0f0f;
  /* padding: 60px 20px; */
}

.skill-card {
  text-align: center;
  color: #fff;
}

.skill-card h3 {
  margin-top: 16px;
  font-size: 24px;
  color: #FD6F00;
  font-weight: 600;
}

.skill-card p {
  margin-top: 4px;
  font-size: 16px;
  color: #aaa;
}

/* Icon inside circle */
.ant-progress-circle .ant-progress-text {
  color: #aaa;
  font-size: 32px;
}

.ant-progress-text{
  width: 0px !important;
  left: 34px !important;
}


@media (min-width: 330px) {
 .container1{
  margin: 0rem 2.4rem !important;
 }
 .abo{
    margin: 0rem 2.4rem !important;
 }
 .skills-container{
    margin: 0rem 2.4rem !important;
 }
 .hire{
  border: 1px solid #FD6F00;
  border-radius: 10px;
  font-size: 18px; 
  height: 40px; 
  min-width: 120px; 
  padding: 0px 10px !important;
  background-color: #FD6F00;
}
.cv{
  border: 2px solid #707070;
  border-radius: 10px;
  font-size: 18px;
  color: #707070; 
  height: 40px; 
  min-width: 120px; 
  background-color: #1E1E1E;
}
.image-section{
  margin-bottom: 20px !important;
}

}